<main class="form-signin">
    <form>
        <img src="" alt="">
        <h1>Logueate</h1>
        <!--Logo-->
        <div class="form-floating">
            <input id="floatingInput" class="form-control" type="email" placeholder="name@example.com">
            <label for="floatingInput">Direccion de Correo</label>
        </div>
        <!--Contraseña-->
        <div class="form-floating">
            <input id="floatingPassword" class="form-control" type="password" placeholder="Contraseña">
            <label for="floatingInput">Contraseña</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="Recordar me.">
                Recordar me!!!
            </label>
        </div>
    </form>
</main>